<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>You are now ready to start creating and joining events in your area. Don't forget to wear your Jorts.</p>
    <h4>Love,</h4>
    <h6>Emily, Dylan, and the entire Jorts Team</h6>
  </body>
</html>