<body class="about_page">     
        <section class="module parallax parallax-1">
          <div class="container">
            <h1 class="name">About JORTS</h1>
          </div>
        </section>

        <section class="module content">
          <div class="about_container">
            <h2>Another Kind of Pick-Up App...</h2>
              <p> 
                The creators of JORTS, Dylan Weinberger & Emily McCracken, are residents of the Manayunk neighborhood of Philadelphia. Surrounded by green space and a desire to get out of the house but with a schedule that didn't allow participating in regularly scheduled sporting events, Dylan decided this was a problem that needed to be solved. This is where Jorts was ultimately born. Dylan & Emily wanted to create an easy and fun app that would allow users to create activities in their area while other users searched for them and joined. Users choose the type of activity and the level of intensity when creating a new activity.
              </p>
              <p> 
                Activities on JORTS range from casual frisbee games to intense pick-up basketball and even some competitive quizzo at a local bar! At JORTS, we want to do everything we can to make it as easy as possible to get out of the house and enjoy your favorite activities with other people! If you make new friends-- great! If you find a new sport you love-- awesome! If you find yourself spending more time outdoors and/or while exercising your body or brain-- best case scenario! 
              </p>
              <h3> Join JORTS! </h3>
          </div>
        </section>

        <section class="module parallax parallax-2">
          <div class="container">
            <h1 class="other_headers">FAQs</h1>
          </div>
        </section>

        <section class="module content">
          <div class="container">
            <h3> What is JORTS? </h3>
              <p> 
                see above!!
              </p>
               <h3> Can anyone sign up? </h3>
              <p> 
                Anyone can sign up! All that is required is your login information and an address so you can easily search for activities nearby.
              </p>
               <h3> Can anyone create a new activity? </h3>
              <p> 
                Yes! At JORTS we encourage every user to not just RSVP to other people's activities but to also come up with their own activity ideas for other users to join. 
              </p>
               <h3> Is this safe? </h3>
              <p> 
                We want everything at JORTS to be fun and carefree and we always want our users to feel safe. We strongly encourage users to only create activities at public venues. If you see an activity that has a shady location or you have concerns about another user, please reach out to JORTS immediately. 
              </p>
               <h3> What if I'm not athletic? </h3>
              <p> 
                JORTS isn't about skill! It's about having fun with people who want to do the same activities at the same level as you. This is why we've added so many customizations to new activities -- it allows users to find the right activities at the right skill level for them! 
              </p>
          </div>
        </section>

        <section class="module parallax parallax-3">
          <div class="container">
            <h1 class="other_headers">Contact Us</h1>
          </div>
        </section>

        <section class="module content">
          <div class="container">
            </div>
            <h3>Contact Option 1</h3>
            <h3>Contact Option 2</h3>
            <h3>Contact Option 3</h3>
          </div>
        </section>
    </body>