<body class="about_page">     
        <section class="module parallax parallax-1">
          <div class="container">
            <h1 class="name">About JORTS</h1>
          </div>
        </section>

        <section class="module content">
          <div class="about_container">
            <h2>Another Kind of Pick-Up App...</h2>
              <p> 
                ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. 
              </p>
              <p> 
                ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. ABOUT JORTS. 
              </p>
          </div>
        </section>

        <section class="module parallax parallax-2">
          <div class="container">
            <h1 class="other_headers">FAQs</h1>
          </div>
        </section>

        <section class="module content">
          <div class="container">
            <h3> Question </h3>
              <p> 
                answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer 
              </p>
               <h3> Question </h3>
              <p> 
                answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer 
              </p>
               <h3> Question </h3>
              <p> 
                answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer 
              </p>
               <h3> Question </h3>
              <p> 
                answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer 
              </p>
               <h3> Question </h3>
              <p> 
                answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer answer 
              </p>
          </div>
        </section>

        <section class="module parallax parallax-3">
          <div class="container">
            <h1 class="other_headers">Contact Us</h1>
          </div>
        </section>

        <section class="module content">
          <div class="container">
            </div>
            <h3>Contact Option 1</h3>
            <h3>Contact Option 2</h3>
            <h3>Contact Option 3</h3>
          </div>
        </section>
    </body>