#activity_show{
    background-image: url('basketball_court.jpg');
    font-size: 20px;
    font-family:'Kalam', cursive;
    color: #042920;
    background-attachment: fixed;
}

.activity_map {
    width: 400px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 25%;
}
.activity_info {
	text-align: center;
}

.activity_info p {
	font-family:'Kalam', cursive;
    color: #042920;
    font-size: 20px;
}
.activity_name {
	font-size: 64px;
    font-family:'Kalam', cursive;
    color: #042920;

    text-align: center;
}

.attending {
	text-align: center;
}

.attendees {
	text-align: center;
}

.commentaddition {
	text-align: center;
}

.commentcontainer {
	text-align: center;
}

#activity_index {
	background-image: url('landscape.jpg');
	font-size: 20px;
    font-family:'Kalam', cursive;
    color: #042920;
    background-attachment: fixed;
    text-align: center;
}

.index_map {
	width: 600px;
	height: 300px;
	position: relative;
	left: 12%;
	top: 10px;
}

.act_list {
	border-spacing: 35px;
	position: relative;
	left: 25%;
}

.new_act_title {
	position: relative;
	top: 15px;
	font-size: 56px;
    font-family:'Kalam', cursive;
	color: black;
}

#new_activity {
	background-image: url('bike_woods.jpg');

    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 20px;

}

.act_container {
	font-size: 34px;
    font-family:'Kalam', cursive;
    color: #AFD5F7;
}

.field {
	padding: 10px;
}


