/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*FONTS*/
 /*font-family: 'Kalam', cursive;*/
/*font-family: 'Slackey', cursive;*/

/*COLORS*/


#content {
	background-color: rgba(255, 255, 255, .6);;
	position: relative;
	left: 30%;
    width: 800px;
}

.welcome {
	position: relative;
	left: 87%;
    width: 150px;

}

ul {
	top: 0;
	left: 0;
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #5B8F3F;
    height: 100%;
    border-right: 8px solid black;
}

li a {
	font-family: 'Slackey', cursive;
	font-size: 30px;
    display: block;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    text-decoration: none;
    transition: .7s;
    color: #042920;
}

.rotate_right a:hover {
    background-color: #042920;
    color: #0098BE;
    transform: rotate(-10deg);
    box-shadow: 10px 10px 5px black;
}

.rotate_left a:hover {
    background-color: #042920;
    color: #0098BE;
    transform: rotate(10deg);
    box-shadow: 10px 10px 5px black;
}

.delete_button {
    text-decoration: none;
    color: #F44207;
    transition: .7s;
}

.delete_button:hover{
    color: #F44207;
    text-decoration: underline;
}













